<div class="container-fluid">
    <div class="row">      
      <div class="col-sm-3">
        <app-sm-lib-tree></app-sm-lib-tree>
      </div>
      <div class="col-sm-9">
          <div class="row">
              <div class="col-sm-12">
                    <app-sm-highcharts></app-sm-highcharts>
              </div>                
          </div>
          <div class="row">
              <div class="col-sm-12"> 
                    <app-sm-grid></app-sm-grid>
              </div>                
          </div>
      </div>
    </div>
</div>
